<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ evento.nombre }}</title>
</head>
<body>
    <h2>{{ evento.nombre }}</h2>
    <p>{{ evento.descripcion_breve }}</p>
    <p>Fecha de Inicio: {{ evento.fecha_inicio }}</p>
    <p>Fecha de Fin: {{ evento.fecha_fin }}</p>
    
    {% if evento.imagen %}
    <img src="{{ evento.imagen.url }}" alt="{{ evento.nombre }}">
    {% endif %}
</body>
</html>