{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/marketingStyles.css' %}">
</head>
<style></style>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div>
            <button style=margin-left:20px; onclick="window.location.href='{% url 'crear_campaña_marketing' %}'">Campañas de Marketing</button>
            <button onclick="window.location.href='{% url 'marketing_por_email' %}'">Marketing por email</button>
            <button onclick="window.location.href='{% url 'crear_evento' %}'">Eventos</button>
            <button onclick="window.location.href='{% url 'enviar_sms' %}'">Marketing por SMS</button>
        </div>
        <!-- Botón de toggle para el sidebar -->
        <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-content">
            <h2>{% if user.is_authenticated %}
                <div class="user-info">
                    <img style=margin-top:20px; width="16" height="16" src="https://img.icons8.com/officel/16/user.png" alt="user">
                    <span style="color: white;">{{ user.username }}</span>
                </div>
                {% endif %}</h2>
            <a href="{% url 'create_contact' %}">Crear Contacto</a>
            <a href="{% url 'view_contacts' %}">Ver</a>
            <a href="{% url 'create_group' %}">Crear Grupo</a>
            <a href="{% url 'view_groups' %}">Mostrar Grupos</a>
            <a href="{% url 'home' %}">Inicio</a>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="main-content">
        {% block content %}
        <h1>Welcome to the Marketing Page</h1>
        <p>This is the content of the marketing page.</p>
        {% endblock %}
    </div>

    <!-- Script para controlar la visibilidad del sidebar -->
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            if (sidebar.style.left === "0px") {
                sidebar.style.left = "-250px";
            } else {
                sidebar.style.left = "0px";
            }
        }
    </script>
</body>
</html>
