body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Para ocultar el desplazamiento horizontal */
}

/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el navbar esté sobre el sidebar */
}

.navbar button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #555;
}

/* Sidebar */
.sidebar {
    background-color: #222;
    color: white;
    padding: 20px;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente oculto */
    height: 100%;
    transition: left 0.3s; /* Transición suave al mostrar/ocultar */
    z-index: 999; /* Asegura que el sidebar esté sobre el contenido */
}

.sidebar-content {
    margin-top: 20px; /* Añade el margen superior entre el toggle y el primer enlace del sidebar */
}

.sidebar a {
    display: block; /* Mostrar cada enlace en su propia línea */
    margin-bottom: 10px; /* Agregar espacio entre cada enlace */
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #444;
}

/* Botón de toggle para mostrar/ocultar el sidebar */
.toggle-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Contenedor principal */
.main-content {
    margin-top: 70px; /* Ajusta el margen superior para dejar espacio para el navbar fijo */
    padding: 20px;
}
